@import url("https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  font-family: Rubik Scribble;
  align-items: center;
  justify-content: center;
}

.heading {
  display: inline-flex;
}

h1 {
  margin-right: 45%;
  margin-left: 8%;
}

textarea {
  font-family: "Anta", sans-serif;
  color: grey;
  width: 15%;
  height: 250px;
}

form {
  display: inline;
}

#a {
  padding: 12px;
  margin-left: 20px;
  background-color: rgb(167, 223, 242);
}

#b {
  padding: 12px;
  margin-left: 150px;
  background-color: rgb(217, 176, 255);
}

#c {
  padding: 12px;
  margin-left: 190px;
  background-color: rgb(255, 170, 170);
}

#d {
  padding: 12px;
  margin-left: 190px;
  background-color: aquamarine;
}

#e {
  padding: 12px;
  margin-left: 20px;
  margin-top: 45px;
  background-color: rgb(167, 223, 242);
}

#f {
  padding: 12px;
  margin-left: 150px;
  margin-top: 45px;
  background-color: rgb(217, 176, 255);
}

#g {
  padding: 12px;
  margin-left: 190px;
  margin-top: 45px;
  background-color: rgb(255, 170, 170);
}

#h {
  padding: 12px;
  margin-left: 190px;
  margin-top: 45px;
  background-color: aquamarine;
}

th {
  display: inline-flex;
}

.no {
  margin-left: 50px;
  display: inline-flex;
}

#kk {
  border-right: solid grey;
}

.add {
  display: inline-flex;
}

.Yesterday {
  margin-left: 70px;
  background-color: gainsboro;
}

.Today {
  margin-left: 260px;
  background-color: gainsboro;
  padding-left: 8px;
  padding-right: 8px;
}

.Blockers {
  margin-left: 290px;
  background-color: gainsboro;
  padding-left: 8px;
  padding-right: 8px;
}

.Actions {
  margin-left: 300px;
  background-color: gainsboro;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  width: 200px;
  height: 28px;
  font-family: Rubik Scribble;
}

#dialog {
  margin-top: 10px;
  margin-left: 90px;
}

#dialog2 {
  margin-top: 10px;
  margin-left: 550px;
}

#dialog3 {
  margin-top: 10px;
  margin-left: 1040px;
}

#dialog1 {
  margin-top: 10px;
  margin-left: 1540px;
}

a {
  text-decoration: none;
  color: black;
}
