@import url("https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  align-items: center;
  justify-content: center;
  font-family: "Anta", sans-serif;
}

#H1 {
  margin-left: 410px;
}

span {
  color: blueviolet;
}

form {
  display: block;
  margin-top: 100px;
  margin-left: 750px;
}

.head {
  display: inline-flex;
}

textarea {
  background-color: rgb(80, 255, 214);
  padding: 12px;
  box-shadow: 5px 5px 3px gainsboro;
  color: grey;
}

#hot {
  display: block;
  font-family: "Anta", sans-serif;
  margin-left: 80px;
  margin-top: 10px;
  background-color: rgb(185, 247, 0);
  outline: none;
  color: white;
}

#hot:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container > div {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 4px;
  margin-bottom: 1em;
  max-width: 300px;
  padding: 1em;
}
